/* Main */
#main {
    display: flex;
    line-height: 2em;
    justify-content: flex-start;
    max-width: calc(var(--center-abs-margin) + var(--center-width) + var(--rhs-margin) + var(--rhs-width) + var(--lhs-refinements-width));
}

.main-result-page {
    flex: 0 auto;
    width: var(--center-width);
    margin-left: var(--center-abs-margin);
    position: relative;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #bcc0c3;
    font-family: arial,sans-serif;
    font-size: 14px;
}

/* Logo */
.logo-area {
    grid-area: logo;
    place-self: center;
}

.logo {
    margin: 26px 0 5px -15px;
}

/* Navigation */
#nav {
    grid-area: nav;
    display: flex;
}

.search-modes {
    display: flex;
    margin-left: 10px;
    font-size: 13px;
    color: #f1f3f4;
}

.nav-mode {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    padding: 16px 12px 12px 9px;
}

    .nav-mode:hover svg,
    .nav-mode:hover {
        color: #1A73E8;
    }

.selected-mode {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
}

.mode-icon {
    margin: 0 5px 3px 2px;
    fill: currentColor;
    color: #5f6368;
}

.mode-text {
    margin-top: 1px;
}

.search-settings {
    margin-left: 57px;
    font-size: 13px;
    color: #9aa0a6;
}

/* Did you mean: */
#did-you-mean-area {
    font-size: medium;
    margin: .33em 0 17px;
}

#did-you-mean {
    color: #ff7769;
}

#did-you-mean-suggestion,
#did-you-mean {
    font-size: 18px;
}

#did-you-mean-suggestion {
    color: #8ab4f8;
    cursor: pointer;
    font-style: italic;
}

    #did-you-mean-suggestion > b:hover {
        text-decoration: underline;
    }

/* Search Results */
.results-stats {
    font-size: 14px;
    line-height: 43px;
    color: #9aa0a6;
}

.search-result {
    margin-bottom: 28px;
    margin-top: 10px;
}

    .search-result a {
        display: inline-block;
        color: #8ab4f8;
    }

        .search-result a:visited {
            color: #c58af9;
        }

    .search-result > a:hover h3 {
        text-decoration: underline;
    }

.site-info {
    left: 0;
    top: 0;
    padding: 0;
    padding-bottom: 0px;
    padding-bottom: 0;
    display: inline-block;
    display: flex;
    -webkit-text-size-adjust: none;
    font-size: 12px;
    line-height: 1.3;
    padding: 0;
    padding-bottom: 0px;
    padding-bottom: 0;
    align-items: center;
}

.site-img-area {
    background-color: #fff;
    border: 1px solid #9aa0a6;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin-right: 12px;
    vertical-align: middle;
}

.site-img {
    height: 18px;
    width: 18px
}

.site-name {
    color: #dadce0;
    font-size: 14px;
    display: block;
    line-height: 20px;
    white-space: nowrap;
}

cite {
    line-height: 1.3;
    color: #bdc1c6;
    font-size: 12px;
}

.site-info-texts {
    display: block;
}

.resume-year {
    color: #e1e3e6;
    font-size: 15px;
}

.search-result-heading {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.3;
}

.result-date {
    color: #70757a;
}

.result-text {
    width: 600px;
    line-height: 1.57;
    color: #bdc1c6;
}

/* Questions Box */
.panel {
    padding: 0 18px;
    background: #202124;
    max-height: 0;
    overflow: hidden;
    color: #bdc1c6;
    font-size: 16px;
    line-height: 24px;
    transition: max-height 0.2s ease-out;
}

    .panel b {
        background-color: #3a3f50;
        color: inherit;
        transition: max-height 0.5s;
    }

.questions-box {
    margin: 0 -20px 48px -20px;
    /*border-radius: 8px;*/
    color: #e8eaed;
}

#questions-box-title {
    padding: 9px 16px;
    line-height: 1.3;
}

.question {
    padding: 9px 16px;
    font-size: 16px;
    text-align: left;
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    border-top: 1px solid #3c4043;
    color: #e8eaed;
}

.question-arrow {
    float: right;
    width: 24px;
    fill: currentColor;
    color: #9aa0a6;
}

#question-feedback {
    padding: 0px 15px 0;
    float: right;
}

/* Related Searches */
#related-searches-heading,
#questions-box-title {
    margin-top: 27px;
    padding-bottom: 20px;
    color: #e8eaed;
    white-space: nowrap;
    color: #e8eaed;
    text-overflow: ellipsis;
    font-family: Google Sans, arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.related-searches-block {
    display: inline-flex;
}

.related-searches-card {
    display: flex;
    flex-direction: column;
}

    .related-searches-card a {
        padding: 3px 32px 7px 0;
        color: #bdc1c6;
        font-size: 16px;
        overflow-wrap: break-word;
        /*max-width: 227px;*/
        overflow: hidden;
    }

        .related-searches-card a:visited {
            color: #609;
        }

        .related-searches-card a:hover {
            text-decoration: underline;
        }

/* Pager */
#google {
    text-align: center;
    font-size: 30px;
    color: #e8eaed;
}

.num-links a {
    letter-spacing: 2.5px;
    color: #4285f4;
}

    .num-links a:hover {
        text-decoration: underline;
    }

.num-links .active {
    color: white;
}

    .num-links .active:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

#pagination .next {
    line-height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    color: #e8eaed;
}

#pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* About */
#about {
    height: max-content;
    border-left: 1px solid #3c4043;
    width: calc(372px + 20px);
    overflow-wrap: break-word;
    padding: 0 0 16px 20px;
    position: relative;
    margin-left: var(--rhs-margin);
    flex: 0 auto;
    width: var(--rhs-width);
    padding-bottom: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#about-area {
    line-height: 1.58;
}

    #about-area h3 {
        font-size: 28px;
        line-height: 32px;
        color: #e8eaed;
        font-weight: 500 !important;
        font-family: Google Sans,arial,sans-serif-medium,sans-serif;
        word-break: break-word;
    }

        #about-area h3:hover {
            text-decoration: underline;
        }

#about-job-title {
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
    color: #bdc1c6;
}

#about-images {
    border-radius: 8px;
    overflow: hidden;
    margin-right: -2px;
    margin-bottom: -2px;
    border-bottom: 1px solid #3c4043;
    padding-bottom: 20px;
    margin: 10px 0 0 0px;
}

.about-img-area {
    margin: 0;
    position: relative;
    float: left;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    left: 0px;
}

#about-img-area-1 {
    width: 186px;
    height: 186px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.about-img {
    display: block;
    filter: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#about-img-1 {
    width: 186px;
    height: 186px;
}

#about-data {
    margin-top: 20px;
    border-bottom: 1px solid #3c4043;
    font-size: 14px;
    color: #bdc1c6;
}

.about-attribute {
    font-weight: bolder;
    color: #bdc1c6;
}

#about-feedback {
    margin-left: 290px;
}

/* Feedback */
.feedback {
    font-size: 12px;
    font-style: italic;
    color: #9aa0a6;
    line-height: 1.34;
    cursor: pointer;
}

    .feedback:hover,
    .feedback:hover {
        text-decoration: underline;
    }

/* About - Media/social */
.media {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #3c4043;
    margin-top: 20px;
    margin-bottom: 16px;
}

.media-heading {
    font-size: 18px;
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
    line-height: 24px;
    padding-left: 0;
    color: #e8eaed;
}

.social-container {
    display: flex;
    justify-content: space-around;
}

.social {
    margin-top: 10px;
}

.social-image {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid white;
}

/* About - Stats */

.skill-heading {
    font-weight: bold;
}
.stats {
    margin-top: 20px;
}

.t-stats tr td {
    padding: 10px;
    border-bottom: 1px solid #5f6368;
}

